<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="server=127.0.0.1;User Id=root;password=Mohan123$;database=farmer_db" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key ="DefaultImage" value="noimage.jpg"/>
		<add key ="Admin_Info" value="admin_user_details"/>
		<add key="Dialyprice_Info" value="daily_price_details"/>
		<add key="Dealer_Transaction_Info" value="dealer_farmer_transaction"/>
		<add key ="Dealer_Info" value="dealer_user_details"/>
		<add key="Dealer_Requirment_Info" value="dealer_requirement_details"/>
		<add key="Farmer_Transaction_Info" value="farmer_dealer_transaction"/>
		<add key ="Farmer_Product_Info" value="farmer_product_details"/>
		<add key ="Farmer_Info" value="farmer_user_details"/>
		<add key ="Crop_Info" value="master_crop_details"/>
		<add key ="District_Info" value="master_district_details"/>
		<add key="Product_Info" value="master_product_status"/>
		<add key ="State_Info" value="master_state_details"/>
		<add key="Status_Info" value="master_status_details"/>
		<add key ="Unit_Info" value="master_unit_details"/>
		<add key ="User_Type" value="master_user_type"/>	
		<add key ="Dealer_Info" value="dealer_user_details"/>
		<add key="Tips_Info" value="tips_details"/>
	
	</appSettings>
  <system.web>	 
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  <sessionState mode="InProc" timeout="4"/>  
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
